# List of servers to use
server_names = ['quad9-doh-filter-pri', 'quad9-doh-filter-sec']

# Load-balancing strategy
lb_strategy = 'first'


# List of local addresses and ports to listen to
listen_addresses = ['127.0.0.1:5354']

# Maximum number of simultaneous client connections to accept
max_clients = 250

# Always use TCP to connect to upstream servers
force_tcp = false

# Enable support for HTTP/3
http3 = true


# How long a DNS query will wait for a response, in milliseconds
timeout = 1000

# Keepalive for HTTP (HTTPS, HTTP/2, HTTP/3) queries, in seconds
keepalive = 30

# Response for blocked queries
blocked_query_response = 'hinfo'


# Maximum time (in seconds) to wait for network connectivity before
# initializing the proxy
netprobe_timeout = -1

# Address and port to try initializing a connection to, just to check
netprobe_address = '45.11.45.11:53'

# Ignore system dns for internal DNS resolution
ignore_system_dns = false


# Filters
# Immediately respond to IPv6-related queries with an empty response
block_ipv6 = true

# Immediately respond to A and AAAA queries for host names without a domain name
block_unqualified = true

# Immediately respond to queries for local zones instead of leaking them to
# upstream resolvers
block_undelegated = true

# TTL for synthetic responses sent when a request has been blocked
reject_ttl = 10


# Cloaking rules
#cloaking_rules = 'cloaking-rules.txt'


# DNS cache
cache = true

# Cache size
cache_size = 4096

# Minimum TTL for cached entries
cache_min_ttl = 2400

# Maximum TTL for cached entries
cache_max_ttl = 86400

# Minimum TTL for negatively cached entries
cache_neg_min_ttl = 60

# Maximum TTL for negatively cached entries
cache_neg_max_ttl = 600


# Log level
#log_level = 0

# Log file for the application
#log_file = 'dnscrypt-proxy.log'

# When using a log file, only keep logs from the most recent launch
#log_file_latest = true

# Use the system logger
#use_syslog = true

# Automatic log files rotation
# Maximum log files size in MB - Set to 0 for unlimited.
log_files_max_size = 10

# How long to keep backup files, in days
log_files_max_age = 7

# Maximum log files backups to keep (or 0 to keep all backups)
log_files_max_backups = 1

# Query logging
[query_log]

# Path to the query log file
#file = 'query.log'

# Query log format
format = 'tsv'

# Do not log these query types, to reduce verbosity
#ignored_qtypes = ['DNSKEY', 'NS']


# Suspicious queries logging
[nx_log]

## Path to the query log file
#file = 'nx.log'

## Query log format
format = 'tsv'


# Pattern-based blocking (blocklists)
[blocked_names]

# Path to the file of blocking rule
blocked_names_file = 'blocked-names.txt'

# Optional path to a file logging blocked queries
#log_file = 'blocked-names.log'


# Pattern-based IP blocking (IP blocklists)
[blocked_ips]

# Path to the file of blocking rules
blocked_ips_file = 'blocked-ips.txt'

# Optional path to a file logging blocked queries
#log_file = 'blocked-ips.log'


# Pattern-based allow lists (blocklists bypass)
[allowed_names]

# Path to the file of allow list rules
#allowed_names_file = 'allowed-names.txt'

# Optional path to a file logging allowed queries
#log_file = 'allowed-names.log'


# Pattern-based allowed IPs lists (blocklists bypass)
[allowed_ips]

# Path to the file of allowed ip rules
#allowed_ips_file = 'allowed-ips.txt'

# Optional path to a file logging allowed queries
#log_file = 'allowed-ips.log'

# Static servers
[static]

  # Quad9 DOH
  [static.quad9-doh-filter-pri]
  stamp = 'sdns://AgMAAAAAAAAABzkuOS45LjkgsBkgdEu7dsmrBT4B4Ht-BQ5HPSD3n3vqQ1-v5DydJC8SZG5zOS5xdWFkOS5uZXQ6NDQzCi9kbnMtcXVlcnk'

  [static.quad9-doh-filter-sec]
  stamp = 'sdns://AgMAAAAAAAAADzE0OS4xMTIuMTEyLjExMiCwGSB0S7t2yasFPgHge34FDkc9IPefe-pDX6_kPJ0kLxFkbnMucXVhZDkubmV0OjQ0MwovZG5zLXF1ZXJ5'
